body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.7), rgba(0, 255, 255, 0.5));
    background-size: cover;
    background-position: center;
    color: white;
    word-spacing: 0.2em;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 600;
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

section {
    margin: 20px auto;
    padding: 20px;
    width: 48%;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

section h2 {
    font-size: 2em;
    color: #00BFFF;
    text-align: center;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

footer p {
    margin: 0;
    font-size: 1em;
}

a {
    color: #00BFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00BFFF;
}


.header-text {
    text-align: left;
}
